#Ignore Resource . You have to download on your own on my google drive

data_1000/
data_4500/
10000_PHASE1/
19200_phase2/
Model/
Histroy_Csv/

example1.jpg
data.rar
Test_GPU.ipynb
*.jpg

#Ignore Model File at first coz' i have no idea what to do with it , yet
*.hdf5
*.h5
Phase1_Train_Model/